<div class="container">
    <br>
    <div class="container">
        <h4 class="text-primary text-center">PRODUCTOS EN EL CARRITO</h4>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-primary" scope="col"><small>Producto</small></th>
                    <th class="text-primary" scope="col"><small>Precio</small></th>
                    <th class="text-primary" scope="col"><small>Cantidad</small></th>
                    <th class="text-primary" scope="col"><small>Iva</small></th>
                    <th class="text-primary" scope="col"><small>Total</small></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let line of productos; index as i">
                    <td scope="row"><small>{{line.nombre}}</small></td>
                    <td scope="row"><small>{{line.precio}}</small></td>
                    <td scope="row"><small>{{line.cant}}</small></td>
                    <td scope="row"><small>{{line.vrIva}}</small></td>
                    <td scope="row"><small>{{line.total }}</small></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{sumaIva}}</td>
                    <td>{{sumaTotal}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="container">
        <div class="card">
            Ingrese el codigo de cupon
            <input matInput type="text" style="width: 200px;" [(ngModel)]="cupon">
            <button mat-button style="width: 150px;" (click)="validarCupon()">Aplicar cupon</button>
            <span *ngIf="datosCupon">
                % descuento: {{datosCupon.valor}}%
            </span>
            <span *ngIf="datosCupon">
                $ descuento: {{sumaTotal * datosCupon.valor / 100}}
            </span>
            <span *ngIf="buscoCupon && !datosCupon">
                cupon invalido
            </span>
        </div>
        <br>
        <button mat-button style="width: 150px;" (click)="Comprar()">Realizar Compra</button>
    </div>
</div>